<div class="row">
  <div class="col-md-3">
    <div class="tres"></div>
    <button nbButton outline status="primary" shape="round">Adicionar imagem</button>
  </div>
  <div class="col-md-9">
    <form class="form-row">
      <div class="form-group col-md-2">
        <label for="nome" class="label">Estoque Máx.</label>
        <input type="number" nbInput fullWidth id="nome" placeholder="0.00">
      </div>

      <div class="form-group col-md-5">
        <label for="descricao" class="label">Estoque Min.</label>
        <input type="number" nbInput fullWidth id="descricao" placeholder="0.00">
      </div>

      <div class="form-group col-md-5">
        <label for="descricao" class="label">Estoque Atual</label>
        <input type="number" nbInput fullWidth id="descricao" placeholder="0.00">
      </div>

      <div class="form-group col-md-2">
        <label for="estoqueMax" class="label">Custo do Produto</label>
        <input type="number" nbInput fullWidth id="estoqueMax" placeholder="000">
      </div>

      <div class="form-group col-md-4">
        <label for="estoqueMax" class="label">Markup</label>
        <input type="number" nbInput fullWidth id="estoqueMax" placeholder="000">
      </div>

      <div class="form-group col-md-2">
        <label for="estoqueMax" class="label">Preço Sugerido</label>
        <input type="number" nbInput fullWidth id="estoqueMax" placeholder="000">
      </div>

      <div class="form-group col-md-2">
        <label for="estoqueMax" class="label">Preço do Atacado</label>
        <input type="number" nbInput fullWidth id="estoqueMax" placeholder="000">
      </div>

      <div class="form-group col-md-2">
        <label for="estoqueMax" class="label">Preço do Varejo</label>
        <input type="number" nbInput fullWidth id="estoqueMax" placeholder="000">
      </div>


      <div class="form-group col-md-4">
        <label for="estoqueMax" class="label">Quantidade Promoção</label>
        <input type="number" nbInput fullWidth id="estoqueMax" placeholder="000">
      </div>

      <div class="form-group col-md-4">
        <label for="estoqueMin" class="label">Valor Promoção</label>
        <input type="number" nbInput fullWidth id="descricao" placeholder="Descrição do produto">
      </div>

      <div class="col-md-4">
        <button nbButton outline status="primary" shape="round" size="tiny" class="botao">Finalizar promoção</button>
      </div>
      
    </form>
  </div>
</div>

<hr>

<div class="footer-botao">
  <button nbButton outline status="danger" shape="round" size="small">Excluir Produto</button>
  <button nbButton outline status="primary" shape="round" size="small">Edição Avançada</button>
  <button nbButton status="primary" shape="round" size="small">Salvar Alterações</button>
</div>