div.tres {
    width: 180px;
    height: 180px;
    border: 10px solid; /* As 4 bordas sólidas com 25px de espessura */
    margin-bottom: 10%;
}

.botao {
    margin-top: 15%;
}

.footer-botao > button {
    margin-left: 1%;
}
